<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    <form action="/books/edit" method="post" th:object="${book}">
        <label for="id">ID: </label>
        <input type="text" name="id" id="id" th:field="*{id}" readonly>
        <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>

        <br>

        <input type="text" name="imageLink" th:field="*{imageLink}" hidden>

        <label for="title">Title: </label>
        <input type="text" name="title" id="title" th:field="*{title}">
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>

        <br>

        <label for="authorsStr">Authors: </label>
        <input type="text" name="authorsStr" id="authorsStr" th:field="*{authorsStr}">
        <p th:if="${#fields.hasErrors('authorsStr')}" th:errors="*{authorsStr}"></p>

        <br>

        <label for="genresStr">Genres: </label>
        <input type="text" name="genresStr" id="genresStr" th:field="*{genresStr}">
        <p th:if="${#fields.hasErrors('genresStr')}" th:errors="*{genresStr}"></p>

        <br>

        <label for="status">Status: </label>
        <select name="status" id="status" th:field="*{status}">
            <option value="to-read">To read</option>
            <option value="reading">Reading</option>
            <option value="read">Read</option>
        </select>
        <p th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></p>

        <br>

        <!-- Does this editing work if the book that is pumped in has values, but does not have a start or end date? -->
        <div class="datesDiv">
            <label for="startStr">Start: </label>
            <input type="date" name="startStr" id="startStr" th:field="*{startStr}">
            <p th:if="${#fields.hasErrors('startStr')}" th:errors="*{startStr}"></p>

            <br>

            <label for="endStr">End: </label>
            <input type="date" name="endStr" id="endStr" th:field="*{endStr}">
            <p th:if="${#fields.hasErrors('endStr')}" th:errors="*{endStr}"></p>
        </div>

        <br>

        <button type="submit">Submit</button>
    </form>

    <script>
        window.onload = function () {
            const statusEle = document.getElementById("status");
            const datesDiv = document.querySelector(".datesDiv");

            function toggleVisibility() {
                if (statusEle.value !== "to-read") {
                    datesDiv.classList.remove("hidden");
                } else {
                    datesDiv.classList.add("hidden");
                }
            }

            toggleVisibility();

            statusEle.addEventListener("change", toggleVisibility);
        }
    </script>
</body>

</html>