<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Please Log In</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body class="bg-yellow-200">
		<h1 class="text-red-500 font-bold">Log In!</h1>
		<div th:if="${param.error}">
			Invalid username and password.</div>
		<div th:if="${param.logout}">
			You have been logged out successfully.</div>
		<form th:action="@{/login}" method="post" th:object="${user}">
			<div>
			<input type="text" name="username" placeholder="Username"/>
			</div>
			<div>
			<input type="password" name="password" placeholder="Password"/>
			</div>
			<input type="submit" value="Log in" />
		</form>
	</body>
</html>